*{
    box-sizing: border-box;
}
main{
    position: relative;
}
#healtbarr{
    position: absolute;
    display: flex;
    align-items: center;
    width: 92.3%;
}
#player1_life{
    margin-left: 8.15%;
}
#player1_damage, #player2_damage{
    background-color: rgb(95, 0, 0);
    height: 30px;
}
#player1_life, #player2_life{
    background-color: yellow;
    height: 30px;
    width: 100%;
}
#timer{
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}
#buttonsplayer1{
    width: 50%;
    float: left;
}
#buttonsplayer2{
    width: 50%;
    float: right;
}
.keys button{
    margin: 1px;
    width: 15%;
    height: 15%;
    background-color: gray;
    box-shadow: inset 3px 3px 35px black;
}
.atacks button{
    width: 15%;
    height: 15%;
    background-color: red;
    border-radius: 50%;
}
button{
    font-size: 1.5em;
}
