
@font-face {
    font-family: pointles;
    src: url('../medias/fonts/Pointless.ttf');
}
d{
    src:url('../medias/images/fundo/calvo10.jpg');
}
*{
    margin: 0px;
    padding: 0px;
}
html{
    background-image: linear-gradient(to bottom, orange, red);
    padding-bottom: 65%;
}
header{
    text-align: center;
}
a{
    display: inline-block;
    width: 2%;
    height: 2%;
    padding: 20px;
    border-radius: 50%;
    overflow: hidden;
    background-color: red;
    color: white;

}
main{
    text-align: center;
}
canvas#screen{
    border: 3px solid;;
    width: 85%;
    height: 35%;
    background-color: rgb(255, 85, 0);
    background-size: contain;
}
h1{
    text-align: center;
    font-family: 'pointles', 'Courier New', Courier, monospace;
    font-size: 4.4em;
    text-shadow: 4px 4px 2px white;
}
h2{
    text-align: center;
    font-family: 'pointles', 'Courier New', Courier, monospace;
    font-size: 3.5em;
    color: red;
    text-shadow: 4px 4px 2px rgb(120, 0, 0);
}
button{
    text-align: center;
    margin: auto;
    background-color: blue;
    color: white;
    font-size: 4em;
    width: 50%;
    height: 25%;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
}

table{
    margin: auto;
}
td{
    background-color: white;
}
tr:nth-child(even) > td{
    background-color: rgb(170, 170, 170);
}
tr#head{
    background-color: red;
}
td:hover{
    background-color: gray;
    color: white;
}
tr:nth-child(even) > td:hover{
    background-color: gray;
    color: white;
}
td.name:hover, tr:nth-child(even) > td.name:hover{
    background-color: blue;
}
p{
    font-size: 2em;
}
img{
    border: 10px solid;
    border-color: black;
}
@media  screen and (max-width:750px) {
    a{
        font-size: 0.8em;
    }
}
@media  screen and (max-width:1000px) {
    p{
        text-align: justify;
    }
}